<nav>
  <a href="{{ site.baseurl }}/" class="nav-logo">
    <img src="{{ site.baseurl }}/Images/icone_portfolio.png" alt="Logo Kévin Massat" loading="eager">
    <span class="nav-logo-text">Kévin <span>Massat</span></span>
  </a>
  <ul class="nav-links" id="nav-links">
    <li><a href="{{ site.baseurl }}/#experiences">Expériences</a></li>
    <li><a href="{{ site.baseurl }}/#realisations">Réalisations</a></li>
    <li><a href="{{ site.baseurl }}/#competences">Compétences</a></li>
    <li><a href="{{ site.baseurl }}/#apropos">À propos</a></li>
    <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
  </ul>
  <a href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:18551f05-b2a7-45f2-8be4-f11be752ca26" class="nav-cta" target="_blank" rel="noopener noreferrer">Télécharger CV</a>
  <button class="hamburger" id="hamburger" aria-label="Menu">
    <span></span><span></span><span></span>
  </button>
</nav>
